{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="container header-style">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Block content for the home landing page -->

{% block main_content %}
<div class="container h-100">
    <div class="hero-image"></div>
    <div class="row h-100 overlay-1"></div>
    <div class="row h-100">

        <div class="col-12 col-md-7 my-auto d-md-none text-center animate__animated animate__fadeIn animate__slow">
            <div>
                <h2 class="my-0 logo-style-1 mt-2">FUTURE DIGITAL ASSET STORE</h2>
            </div>
        </div>
        <div class="col-12 col-md-7 my-auto display-5 callout-fill animate__animated animate__fadeIn animate__slow">
            <h1 class="callout-text text-center justify-content-center">
                WELCOME!  PROUDLY OWN YOUR DIGITAL ASSETS, TODAY!</h1>
            <div class="text-center justify-content-center">
                <form action="{% url 'assets' %}">
                    <button class="kave-btn mt-4 mb-2"><span class="kave-line"></span>BROWSE NOW</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-5 my-auto no-top-margin animate__animated animate__fadeIn animate__slow">
            <div class="iframe-style"><iframe
                    src="https://giphy.com/embed/l3q2XB76CaWPggiNW"
                    class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
{% endblock %}