html {
    height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    background: #000d1d;
  }
  
::-webkit-scrollbar-thumb {
    background: #32d6c079;
}

body {
    background-color: #000d1d !important;
    background: url('/media/WHG1m7.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #555;
    font-family: 'Titillium Web';
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000d1dbf;
    z-index: -1;
}

.nav-size{
    padding-bottom: 10px;
}

.nav-fill{
    background-color: #000d1d;
    border: 0px !important;
}

.nav-buttons {
    color: #aaacad;
}

.nav-buttons-1{
    color: #00aeec;
    margin-right: 3rem!important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;

}

.logo-style {
    -webkit-background-clip: text;
    color:transparent;
    background: radial-gradient(circle at center, #00aeec, #06a7e0, #32d6bf, #06a7e0);
    background-size: 660px 660px;
    -webkit-animation: FadeGradient 7s linear infinite;
    -moz-animation: FadeGradient 7s linear infinite;
    animation: FadeGradient 7s linear infinite;
    -webkit-background-clip: text;
    color:transparent;
}

.icon-style{
    color: #32d6bf !important;
}

.page-heading{
    color: #32d6bf;
}

.page-heading-category{
    font-size: 97%;
    color: #00aeec;
    text-decoration: solid;
}

.callout-fill {
    font-size: 2rem;
    background: radial-gradient(circle at center, #0274b8, #0274b8, #02bdb7, #0274b8);
    padding: 15px;
    background-size:660px 660px;
    border-radius: 0.2em;
    border-style: inset;
    border-color: #006baf9e;
    -webkit-animation: FadeGradient 14s linear infinite;
    -moz-animation: FadeGradient 14s linear infinite;
    animation: FadeGradient 14s linear infinite;
    color: #000000;
  }

.card-fill {
    background: radial-gradient(circle at center, #0274b8d6, #0274b8d6, #0ea6a1ba, #0274b8d6);
    background-size:660px 660px;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 0.08em;
    border-color: #006baf9e;
    -webkit-animation: FadeGradient 14s linear infinite;
    -moz-animation: FadeGradient 14s linear infinite;
    animation: FadeGradient 14s linear infinite;
    color: #000000;
}

.image-div{
    height: 100%;
    background: #000000;
}

.fit-image-center{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100% !important;
    overflow: hidden;
    object-fit: scale-down;
    object-position: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 100%;
}

.card-body-style{
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 #5efee8;
    color: #32d6bf;
}

.description-style{
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 0 0 #5efee8;
    color: aqua;
}

.button-style{
    margin-left: 7px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #00e7ff;
}

.purchased-text{
    background: #0d6381bf;
    border: #04608b;
    border-style: solid;
    border-width: thin;
    color: #23e9b2;
    position: absolute;
    border-radius: 3px;
    padding: 2px;
    bottom: -3px;
    right: 4px;
}

.summary-text{
    color: #23e9b2;
    font-size: 80%;
}

.all-assets-text{
    color: #7cb1f3 !important;
}

.category-text{
    background: #0d6381bf;
    border: #04608b;
    border-style: solid;
    border-width: thin;
    color: #7cb1f3;
    border-radius: 3px;
    padding: 2px;
    bottom: -3px;
    font-size: 80%;
    font-weight: 400;
}

.description-category{
    color: #7cb1f3;
    padding: 2px;
    bottom: -3px;
    font-size: 80%;
    font-weight: 400;
}

.input-style{
    background-color: #000d1d !important;
    border: 1px solid #32d6bf!important;
    border-radius: 0px;
}

input {
    color: #0684b3 !important;
}

input::placeholder {
    color: #0684b3 !important;
}

select {
    color: #0684b3 !important;
}

.menu-style{
    background-color: #000d1d !important;
    border: 1px solid #32d6bf!important;
}

.menu-item{
    color: #1fc2cd !important;
}

.menu-item:hover {
    background-color: #032d61 !important;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 992px) {
    .header-style {
        padding-top: 142px;
    }
}

@media (max-width: 991px) {
    .header-style {
        padding-top: 89px;
    }

    body {
        height: calc(100vh - 89px);
    }
}

/* ----- KEYFRAMES ----- */

@-webkit-keyframes FadeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes FadeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes FadeGradient {
    0%{background-position:0% 0px;}
    100%{background-position:660px -660px;}
}


