@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html {
    height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    background: #000d1d;
  }
  
::-webkit-scrollbar-thumb {
    background: #32d6c079;
}

body {
    background-color: #000d1d !important;
    background: url('/media/WHG1m7.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #555;
    font-family: 'Titillium Web';
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000d1dbf;
    z-index: -1;
}

.overlay-1{
    height: 100%;
    width: 102%;
    top: 0;
    left: 0;
    position: fixed;
    color:transparent;
    background: radial-gradient(circle at center, #00adec10, #06a6e009, #32d6c00f, #06a6e022);
    background-size: 660px 660px;
    -webkit-animation: FadeGradient 7s linear infinite;
    -moz-animation: FadeGradient 7s linear infinite;
    animation: FadeGradient 7s linear infinite;
    color:transparent;
    z-index: 0;
}

.nav-size{
    padding-bottom: 10px;
}

.nav-fill{
    background-color: #000d1d;
    border: 0px !important;
}

.nav-buttons {
    color: #aaacad;
    font-family: 'Unica One', cursive;
}

.nav-buttons-1{
    color: #00aeec;
    margin-right: 3rem!important;
    font-family: 'Unica One', cursive;
    font-size: large;
    font-weight: 500;
    letter-spacing: 2px;
    border-color: #32d6bf70;
    border-style: solid;
    border-width: thin;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;

}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

.remove-button{
    position: relative;
    left: 14px;
    top: -38px;
}

.logo-style {
    font-family: 'Unica One', cursive;
    -webkit-background-clip: text;
    color:transparent;
    background: radial-gradient(circle at center, #00aeec, #06a7e0, #32d6bf, #06a7e0);
    background-size: 660px 660px;
    -webkit-animation: FadeGradient 7s linear infinite;
    -moz-animation: FadeGradient 7s linear infinite;
    animation: FadeGradient 7s linear infinite;
    -webkit-background-clip: text;
    color:transparent;
}

.logo-style-1 {
    font-family: 'Unica One', cursive;
    font-size: 2.3rem !important;
    -webkit-background-clip: text;
    color:transparent;
    background: radial-gradient(circle at center, #00aeec, #06a7e0, #32d6bf, #06a7e0);
    background-size: 660px 660px;
    -webkit-animation: FadeGradient 7s linear infinite;
    -moz-animation: FadeGradient 7s linear infinite;
    animation: FadeGradient 7s linear infinite;
    -webkit-background-clip: text;
    color:transparent;
}

.icon-style{
    color: #32d6bf !important;
}

.green{
    color: #32d6bf !important;
}

.lime{
    color: #87bd4c;
}

.blue{
    color: #0274b8;
}

.blue-label{
    color: #00aeec;
    text-decoration: solid;
}

.page-heading{
    color: #32d6bf;
}

.page-heading-all{
    color: #ed4e63;
    letter-spacing: 2px;
    font-family: 'Unica One', cursive;
    font-size: x-large;
}

.page-heading-category{
    color: #ed4e63;
    letter-spacing: 2px;
    font-family: 'Unica One', cursive;
    font-size: large;
}

.page-heading-category:hover{
    color: #ed96a1;
    letter-spacing: 2px;
    text-decoration: none;
}


.callout-fill {
    font-size: 2rem;
    width: fit-content;
    background: #000d1d;
    padding: 15px;
    border-radius: 0.2em;
    border-style: solid;
    border-color: #02fafe85;
    color: #02b5fd;
    padding: 47px;
    border-width: 2px;
    font-family: 'Unica One', cursive;
}

.iframe-style{
    font-size: 2rem; */
    width: fit-content;
    height: -webkit-fill-available;
    border-radius: 0.2em;
    border-style: solid;
    border-color: #02fafe85;
    border-width: 2px;
}

.card-fill {
    background: radial-gradient(circle at center, #0274b8d6, #0274b8d6, #0ea6a1ba, #0274b8d6);
    background-size:660px 660px;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 0.08em;
    border-color: #006baf9e;
    -webkit-animation: FadeGradient 14s linear infinite;
    -moz-animation: FadeGradient 14s linear infinite;
    animation: FadeGradient 14s linear infinite;
    color: #000000;
}

.image-div{
    height: 100%;
    background: #000000;
}

.fit-image-center{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100% !important;
    overflow: hidden;
    object-fit: scale-down;
    object-position: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 100%;
}

.card-body-style{
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 #5efee8;
    color: #32d6bf;
}

.description-style{
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 0 0 #5efee8;
    color: aqua;
}

.button-style{
    margin-left: 7px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #00e7ff;
}

.button-style-2{
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #00445c;
}

.button-style-3{
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: #00445c;
    color: #12ece9 !important;
}

.purchased-text{
    background: #0d6381bf;
    border: #04608b;
    border-style: solid;
    border-width: thin;
    color: #23e9b2;
    position: absolute;
    border-radius: 3px;
    padding: 2px;
    bottom: -3px;
    right: 4px;
}

.table-border{
    border-style: solid;
    border-width: thin;
    border-color: #23e9b2;
}

.summary-text{
    color: #23e9b2;
    font-size: 80%;
}

.all-assets-text{
    color: #7cb1f3 !important;
}

.category-text{
    background: #0d6381bf;
    border: #04608b;
    border-style: solid;
    border-width: thin;
    color: #7cb1f3;
    border-radius: 3px;
    padding: 2px;
    bottom: -3px;
    font-size: 80%;
    font-weight: 400;
}

.description-category{
    color: #7cb1f3;
    padding: 2px;
    bottom: -3px;
    font-size: 80%;
    font-weight: 400;
}

.input-style{
    background-color: #000d1d !important;
    border: 1px solid #32d6c098!important;
    border-radius: 0px;
    font-family: monospace;
}

.input-style-2{
    background-color: #000d1d !important;
    border: 1px solid #0684b3 !important;
    border-radius: 0px;
}

.input-style-3{
    background-color: #000d1d !important;
    border: 1px solid #32d6bf70!important;
    border-radius: 0px;
    font-family: monospace;
}

input {
    color: #0684b3 !important;
}

input::placeholder {
    color: #0684b3 !important;
}

.qty_input{
    max-width: 60px !important;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 background-color: #ffffff00;
 border: 1px solid #32d6bf;
 cursor:pointer;
 color: #77d4f7 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
    color: #0684b3 !important;
}

.menu-style{
    background-color: #000d1d !important;
    border: 1px solid #32d6bf!important;
    font-family: monospace;
    font-size: medium;
}

.menu-item{
    color: #1fc2cd !important;
}

.menu-item:hover {
    background-color: #032d61 !important;
}


a:hover {
    color: #32d6bf;
}

.to-top {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: transparent;
    color: #32d6bf!important;
}

.to-top-cursor,
.update-qty,
.remove-asset {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-bg{
    background-color: transparent !important;
}
}


/* ----- MEDIA QUERIES ----- */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 992px) {
    .header-style {
        padding-top: 142px;
    }
}

@media (max-width: 991px) {
    .header-style {
        padding-top: 89px;
    }

    body {
        height: calc(100vh - 89px);
    }
}

/* ----- KEYFRAMES ----- */

@-webkit-keyframes FadeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes FadeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes FadeGradient {
    0%{background-position:0% 0px;}
    100%{background-position:660px -660px;}
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #00aeec;
}

.allauth-form-inner-content input {
    background-color: #000d1d !important;
    border: 1px solid #32d6bf!important;
    border-radius: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #00aeec !important;
    -webkit-box-shadow: 0 0 0px 1000px #000d1d inset;
  }

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label {
    color: #00aeec;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #2ec8b2;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000d1d;
    border: 1px solid #006992;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #2ec8b2;
    background-color: #000d1d;
    border: 1px solid #3787aa;
}

.allauth-form-inner-content a {
	color: #32d6bf;
}