<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-buttons-1 nav-link" href="#" id="all-assets" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Assets
            </a>
            <div class="dropdown-menu menu-style" aria-labelledby="all-assets">
                <a href="" class="dropdown-item menu-item">By Price</a>
                <a href="" class="dropdown-item menu-item">By Popularity</a>
                <a href="" class="dropdown-item menu-item">By Category</a>
                <a href="{% url 'assets' %}" class="dropdown-item menu-item">All Assets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-buttons-1 nav-link" href="#" id="images-graphics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Images/Graphics
            </a>
            <div class="dropdown-menu menu-style" aria-labelledby="images-graphics">
                <a href="{% url 'assets' %}?category=digital_renders" class="dropdown-item menu-item">Digital renders</a>
                <a href="{% url 'assets' %}?category=graphics" class="dropdown-item menu-item">Graphics</a>
                <a href="{% url 'assets' %}?category=photographs" class="dropdown-item menu-item">Photographs</a>
                <a href="{% url 'assets' %}?category=digital_renders,graphics,photographs" class="dropdown-item menu-item">All images</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-buttons-1 nav-link" href="#" id="audio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Audio/Music
            </a>
            <div class="dropdown-menu menu-style" aria-labelledby="audio">
                <a href="{% url 'assets' %}?category=electronic_music" class="dropdown-item menu-item">Electronic music</a>
                <a href="{% url 'assets' %}?category=background_music" class="dropdown-item menu-item">Background music</a>
                <a href="{% url 'assets' %}?category=audio_samples" class="dropdown-item menu-item">Audio samples</a>
                <a href="{% url 'assets' %}?category=electronic_music,background_music,audio_samples" class="dropdown-item menu-item">All audio</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-buttons-1 nav-link" href="#" id="video" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Video
            </a>
            <div class="dropdown-menu menu-style" aria-labelledby="video">
                <a href="{% url 'assets' %}?category=video_renders" class="dropdown-item menu-item">Video renders</a>
                <a href="{% url 'assets' %}?category=real_footage" class="dropdown-item menu-item">Real footage</a>
                <a href="{% url 'assets' %}?category=animated_graphics" class="dropdown-item menu-item">Animated graphics</a>
                <a href="{% url 'assets' %}?category=video_renders,real_footage,animated_graphics" class="dropdown-item menu-item">All video</a>
            </div>
        </li>
    </ul>
</div>