{% extends "base.html" %}

{% block header %}
    <div class="container header-style">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container header-container h-80">
        <div class="hero-image"></div>
        <div class="overlay"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}