{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/assets.css' %}">
{% endblock %}

{% block header %}
<div class="container header-style">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Block content for adding new asset to database -->

{% block main_content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="page-heading mb-4 mt-4">Asset management</h2>
            <h5 class="blue-label">Add new asset</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_asset' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                 {% endfor %}
                <div class="text-right">
                    <a class="btn button-style-3" href="{% url 'assets' %}">Cancel</a>
                    <button class="button-style" type="submit">Add Asset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block afterjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}