{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="container header-style">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Block content for viewing individual asset details -->

{% block main_content %}
<div class="hero-image"></div>
<div class="overlay"></div>
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
            <div class="my-5">
                {% if asset.is_video %}
                <video class="card-img-top img-fluid" controls width="250">                
                    <source src="{{ MEDIA_URL }}{{ asset.media }}"
                            type="video/mp4">
                </video>
                {% elif asset.image_url %}
                <a href="{{ asset.image_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ asset.image_url }}" alt="{{ asset.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ asset.image }}" alt="{{ asset.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-4 mt-md-5 mono">
                <p class="mb-0 description-style green-1">{{ asset.name }}</p>
                <p class="mb-0 text-left font-weight-bold" style="color: #77b5cb;">£{{ asset.price }}</p>
                {% if asset.media and asset.is_audio %}
                <div class="pb-0 pl-0 audio-1 mt-2">
                    <audio controls>
                        <source src="{{ MEDIA_URL }}{{ asset.media }}" type="audio/ogg">
                    </audio>
                </div>
                {% endif %}
                <p class="mt-3 blue-label">{{ asset.description }}</p>
                {% if asset.category %}
                <p class="mt-1 mb-0 d-inline-block mono">
                    <a class="description-category mr-5" href="{% url 'assets' %}?category={{ asset.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ asset.category.display_name }}
                    </a>
                </p>
                {% endif %}
                <small style="color: #009eec;"><i class="fa-solid fa-file-export mr-1 d-inline-block"
                        style="color: #35d8c1;"></i>
                    Purchased: {{ asset.popularity }} times</small>
            </div>

            <form class="form" action="{% url 'add_to_basket' asset.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row mt-2"></div>
                {% with asset.print_sizes as s %}
                {% if s %}
                <div class="col-12 pl-0">
                    <p class="green mono"><strong>Print size:</strong></p>
                    <select class="form-control size-width input-style mb-4" name="print_size" id='id_print_size'>
                        <option value="Digital only" selected>Digital download only</option>
                        <option value="297mm x 420mm">297mm x 420mm (includes digital)</option>
                        <option value="420mm x 594mm">420mm x 594mm (includes digital)</option>
                    </select>
                </div>
                {% endif %}
                <div id="qty-container" class="col-12 pl-0 d-none">
                    <p class="mt-3 green"><strong>Quantity:</strong></p>
                    <div class="form-group w-50 mb-0">
                        <div class="input-group quantity buttons_added mb-3">
                            <input type="button" value="-" class="minus plus-minus">
                            <input class="form-control qty_input input-style qty no-side-border" type="number"
                                name="quantity" title="Qty" value="1" min="1" max="99" step="1"
                                data-item_id="{{ asset.id }}" id="id_qty_{{ asset.id }}">
                            <input type="button" value="+" class="plus plus-minus">
                        </div>
                    </div>
                </div>
                {% if request.user.is_superuser %}
                <div class="mt-0">
                    <small style="background-color: #000d1d; padding: 0px 4px 0px 4px">
                        <a href="{% url 'edit_asset' asset.id %}">Edit asset</a> |
                        <a class="text-danger" href="{% url 'delete_asset' asset.id %}">Delete</a>
                    </small>
                </div>
                {% endif %}
                <div class="col-12 pl-0 mt-3 mb-space">
                    <a href="{% url 'assets' %}" class="btn pl-0">
                        <span class="icon">
                            <i class="fas fa-caret-left back-style"></i>
                        </span>
                        <span class="back-style text-input mono">Browse more assets</span>
                    </a>
                    <button id="submit-button" class="btn kave-btn">
                        <span class="kave-line"></span>
                        Add to basket
                    </button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}