{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta elements and favicons -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000d1d" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{{ 'apple-touch-icon.png' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{{ 'favicon-32x32.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{{ 'favicon-16x16.png' }}">
    {% endblock %}
    <!-- CSS and fonts -->
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    <!-- Pre-load JS -->
    {% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/50b4dc4df7.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Future Digital Asset Store {% block extend_title %}{% endblock %}</title>

</head>

<!-- Core body template including main nav on full screen size -->

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row nav-fill nav-size pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-5 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <div>
                        <h2 class="my-0 logo-style-1">FUTURE DIGITAL ASSET STORE</h2>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'assets' %}">
                    <div class="input-group w-100">
                        <input class="form-control input-style-3" type="text" name="search"
                            placeholder="Search asset catalogue...">
                        <div class="input-group-append">
                            <button class="form-control btn input-style-3" type="submit">
                                <span>
                                    <i class="fa-brands fa-searchengin logo-style h4"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <ul class="list-inline text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div class="nav-buttons"><p class="my-0 nav-buttons blue-label"><i class="fas fa-gears fa icon-style"></i> SITE OPTIONS</p></div>
                            </div>
                        </a>
                        <div class="dropdown-menu menu-style" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_asset' %}" class="dropdown-item menu-item">Manage assets</a>
                            {% endif %}
                            <a href="{% url 'account' %}" class="dropdown-item menu-item">Account</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item menu-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item menu-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item menu-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'view_basket' %}">
                            <div class="text-center">
                                
                                <p class="my-0 nav-buttons">
                                    <i class="fas fa-cart-shopping fa nav-buttons icon-style"></i>
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row nav-fill">
            <nav class="navbar navbar-expand-lg w-100 mb-3 mob-margin">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i><span class="fa-solid fa-bars icon-style"></span></i>
                </button>
                <!-- Embedded templates for mobile nav, and nav menu options -->
                {% include 'includes/mobile-navbar.html' %}
                {% include 'includes/nav-options.html' %}
            </nav>
        </div>
    </header>

    <!-- Container for status messages -->

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Block to embed additional header elements -->

    {% block header %}
    {% endblock %}

    <!-- Block to embed main site content elements -->

    {% block main_content %}
    {% endblock %}

    <!-- Footer elements -->

    <footer id="footer-style" class="py-4 text-center">
        <h2 class="my-0 logo-style-1 two-text mb-1">FUTURE DIGITAL ASSET STORE</h2>
        <p class="mono small green mb-1">Copyright &copy; Dan Lawson 2022</p>
        <a href="mailto:info@FDAS.com" target="_blank">
            <i class="fa-solid fa-envelope small blue-label relative mb-2" aria-label="Contact" title="Contact"><span class="mono"> Contact us</span></i>
        </a>
        <div class="social-media">
            <a href="https://youtube.com" target="_blank">
                <i class="fab fa-youtube blue-label" aria-label="Youtube" title="Youtube"></i>
            </a>
            <a href="https://en-gb.facebook.com/" target="_blank">
                <i class="fab fa-facebook blue-label" aria-label="Facebook" title="Facebook"></i>
            </a>
            <a href="https://www.instagram.com/?hl=en" target="_blank">
                <i class="fab fa-instagram blue-label" aria-label="Instagram" title="Instagram"></i>
            </a>
        </div>
    
    </footer>

    <!-- Block for embedding post load js files, with some default post load js -->

    {% block afterjs %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>